<button class="btn btn-default" id="toggle-sidebar" type="button" (click)="eventCalled()">
    &#9776;
</button>
<nav class="sidebar" [ngClass]="{sidebarPushRight: isActive}">
    <ul class="list-group">
        <a [routerLink]="['']" class="list-group-item">
            <i class="fa fa-fw fa-dashboard"></i> Dashboard
        </a>
        <a [routerLink]="['/dashboard', '/chart']" class="list-group-item">
            <i class="fa fa-fw fa-bar-chart-o"></i> Charts
        </a>
        <a [routerLink]="['/dashboard', '/table']" class="list-group-item">
            <i class="fa fa-fw fa-table"></i> Tables
        </a>
        <a [routerLink]="['/dashboard', '/forms']" class="list-group-item">
            <i class="fa fa-fw fa-edit"></i> Forms
        </a>
    </ul>
</nav>